<h1 mat-dialog-title>Create a new board</h1>
<mat-divider></mat-divider>
<div fxLayout="column">
  <div class="tips" style="margin-top: 1em">
    <span>A board is a container for tasks. You can create as many board as you want, so that you can classify your tasks by category, relevance, priority...</span>
  </div>
  <form [formGroup]="form" style="margin-top: 2em" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Board name:</mat-label>
      <input formControlName="name" matInput placeholder="Board name" type="text" required>
      <mat-error *ngIf="form.get('name').invalid">You must choose a name for your new board.</mat-error>
    </mat-form-field>
    <mat-form-field style="margin-top: 1em;">
      <mat-label>Color:</mat-label>
      <mat-select formControlName="color">
        <mat-option *ngFor="let color of colors" [value]="color" [style.background-color]="color">
          {{color}}
        </mat-option>
      </mat-select>
      <mat-hint>Optional</mat-hint>
    </mat-form-field>
  </form>
  <div style="margin-top: 1em" fxLayoutAlign="end end" mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close] cdkFocusInitial>Cancel</button>
    <button (click)="validate()" mat-raised-button color="warn" [disabled]="form.get('name').hasError('required') ? true : false">Confirm</button>
  </div>
</div>