.boards{
  margin: 3em 1.5em;
  padding-left: 2em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  mat-card{
    margin: 0 0 2em 0;
    height: 10em;
  }

  mat-card:hover, #createBoard:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 200ms;
  }

  #createBoard{
    border: dashed 3px gray;
    height: 5em;
    font-size: 2em;
    color: gray;
  }
}

@media screen and (max-width: 599px){
  .boards{
    padding-left: 0;
    margin-top: 2em;

    mat-card{
      width: 20em;
      margin: 0 auto;
    }

    #createBoard{
      width: 10em;
      margin: 0 auto;
    }
  }
}