<mat-toolbar><p id="head">{{title}}</p></mat-toolbar>
<mat-card id="to-do">
  <mat-card-title>To-do</mat-card-title>
  <mat-divider></mat-divider>
  <div id="noTask" *ngIf="!_tasks.value || _tasks.value.length == 0">
    You don't have any task to achieve today !
  </div>
  <mat-list *ngFor="let task of _tasks | async" fxLayout="row inline">
    <mat-list-item>
      <mat-checkbox labelPosition="after"><p>{{task.content}}</p></mat-checkbox>
      <div id="grow"></div> 
      <button mat-icon-button (click)="deleteTask(task)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <div id="form">
    <form>
      <mat-form-field>
        <input matInput #task placeholder="Add a new task">
      </mat-form-field>
      <button id="addTask" mat-raised-button color="warn" (click)="addNewTask(task.value); task.value=''">
        Add
      </button>
    </form>
  </div>
</mat-card>