.boards{
  margin: 3em 1.5em;

  mat-card{
    margin: 0 0 2em 0;
    height: 10em;
  }

  mat-card:hover, #createBoard:hover{
    cursor: pointer;
  }

  #createBoard{
    border: dashed 3px gray;
    height: 5em;
    font-size: 2em;
    color: gray;
  }
}